@use "styles/variables" as *;
@use "styles/mixins" as m;

.header {
  width: 100%;
  padding: 1rem 2rem;
  display: inline-flex;
  align-items: center;
  background-color: $filmyte-rajah;

  .headerLogoWrapper {
    margin-right: 1.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .filmyteLogo {
      @include m.filmyteLogo;
      font-size: 2em;
    }
  }

  .navWrapper {
    .navList {
      display: inline-flex;
      list-style: none;
      padding: 0;
      margin: 0 auto;

      // nav list items
      li {
        margin: 0 1.5rem;

        a {
          padding: 0.5rem; // added padding to increase mouse click area
          font-size: 1.5em;
          font-weight: bold;
        }
      }
    }
  }
}
