@use "styles/variables" as v;
@use "styles/mixins" as m;

.header {
  @include m.maxWidthWrapper;
  background-color: var(--theme-header-bg);

  .headerInner {
    @include m.maxWidth;
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    .headerLogoLink {
      padding: 0.5rem; // added padding to increase mouse click area
      
      .filmyteLogo {
        @include m.filmyteLogo;
        font-size: 2.2em;
      }
    }

    .headerEnd {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .navWrapper {
        .navList {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: 0;
    
          // nav list items
          li {
            margin-left: 3rem;
    
            a {
              padding: 0.5rem; // added padding to increase mouse click area
              font-size: 1.5em;
              font-weight: bold;
            }
          }
        }
      }

      .themeButton {
        margin-left: 3rem;
        border-color: var(--theme-page-text);
      }
    }
  }
}
