@use "styles/mixins" as m;

.mainInner {
  @include m.maxWidth;

  .titleSection {
    text-align: center;

    .title {
      @include m.filmyteLogo;
      font-size: 4em;
    }
    
    .subTitle {
      @include m.filmyteLogo;
      font-size: 1.5em;
    }
  }
}
