@use "styles/variables" as *;

.footer {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $ui-color-background-secondary;
  background-image: linear-gradient($ui-color-background-primary, $ui-color-background-secondary);

  // powered by section
  .poweredBy {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    .poweredByText {
      padding-left: 2rem;
    }

    .poweredByList {
      display: inline-flex;
      list-style: none;
      padding: 0;
      margin: 0 auto;
  
      // powered by list items
      li {
        padding: 0.5rem 2rem;
        border-right: 1px solid $gray-50;

        a {
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        &:last-of-type {
          border-right: 0;
        }
      }
    }
  }

  > *:last-child {
    border-top: 1px solid $gray-50;
  }
}

// TO DO: rename / change
.logo {
  height: 1.3em;
}
