@use "styles/variables" as *;

.footer {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $ui-color-background-secondary;

  // powered by section
  .poweredBy {
    display: flex;
    flex-direction: column;
    align-items: center;

    .poweredByList {
      display: inline-flex;
      list-style: none;
      padding: 0;
      margin: 0 auto;
  
      // powered by list items
      li {
        padding: 1em 2rem;
        border-right: 1px solid $gray-50;
  
        &:last-of-type {
          border-right: 0;
        }
      }
    }
  }

  > *:last-child {
    border-top: 1px solid $gray-50;
  }
}

.logo {
  height: 1em;
}
