@use "styles/variables" as *;

/**
 * - px for border widths, box shadows, etc.
 * - em for font sizes
 * - rem for margins, padding
 * - vw/vh may also be used for layouting
 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $ui-color-background-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// h1 {
//   font-size: 2em;
// }
