@use "styles/variables" as v;

/**
 * - px for border widths, box shadows, etc.
 * - em for font sizes
 * - rem for margins, padding
 * - vw/vh may also be used for layouting
 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: v.$ui-color-background-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// TO DO: change these for default movie info page styles
h1, h2 {
  margin: 1rem 0 1rem 0;
}
