@mixin filmyteLogo {
  font-style: italic;
  font-weight: bold;
  font-family: 'Asap', sans-serif;
}

@mixin maxWidthWrapper {
  display: flex;
  justify-content: center;
}

@mixin maxWidth {
  max-width: 1440px;
  width: 100%;
}
