/* Theme styles can be found in /providers/ThemeProvider/ThemeProvider.module.scss */

/* Colors */
$black-pure: #000000;

$gray-5: #0d0d0d;
$gray-10: #1a1a1a;
$gray-20: #333333;
$gray-30:	#4d4d4d;
$gray-40: #666666;
$gray-50: #7f7f7f;
$gray-60: #999999;
$gray-70: #b3b3b3;
$gray-80: #cccccc;
$gray-90:	#e5e5e5;
$gray-95: #f2f2f2;

$white-pure: #ffffff;

// Filmyte Colors
// - Blue to Orange Gradient Color Palette: https://www.color-hex.com/color-palette/100362
// - Names via: https://chir.ag/projects/name-that-color/#6195ED
$filmyte-downriver: #0e3b5c;
$filmyte-mulled-wine: #5e4f6d;
$filmyte-copper-rose: #9f6671;
$filmyte-new-york-pink: #d8897b;
$filmyte-rajah: #f4ac7b;

// The Movie Database (TMDb) - https://www.themoviedb.org/about/logos-attribution
$tmdb-primary-color: #0d253f; // dark blue
$tmdb-secondary-color: #01b4e4; // light blue
$tmdb-tertiary-color: #90cea1; // light green

/* Breakpoints */
$page-max-width: 1440px;
